<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="__PUBLIC__/admin/images/logo.png">
 
		<title>公告管理</title>

		<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/font-awesome.css">
		<link href="__PUBLIC__/admin/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<link href="__PUBLIC__/admin/css/dashboard.css" rel="stylesheet">

		<script src="__PUBLIC__/admin/js/ie-emulation-modes-warning.js"></script>
		 <style type="text/css">
        	 .navbar a:hover{
                   color:#eee !important;
        	 }
        </style>
	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1775ba;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="#" style="color: #fff;">
					<img src="__PUBLIC__/admin/images/logo.png" width="35" height="30" style="display: inline-block;vertical-align: top;"/>
					在线考试系统后台管理</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" style="color:#fff">你好！欢迎管理员</a>
						</li>
						<li>
							<a href="{:U('Index/login_out')}" style="color: #fff;" onclick="return back();"><i class="fa fa-sign-out"></i>退出</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar" style="padding-top: 5px;">
				    <ul class="nav nav-sidebar">
						<li class="active">
							<a href=""><i class="fa fa-newspaper-o"></i>公告管理</a>
						</li>
						<li>
							<a href="{:U('Admin/sendMessage')}">发布公告</a>
						</li>
						<li>
							<a href="{:U('Admin/index')}">查询公告</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href="#"><i class="fa fa-mortar-board"></i>学生信息管理 </a>
						</li>
						<li>
							<a href="{:U('Admin/sInfo')}">学生信息</a>
						</li>
						<li>
							<a href="{:U('Admin/addStudent')}">添加学生信息</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href=""><i class="fa fa-users"></i>教师信息管理</a>
						</li>
						<li>
							<a href="{:U('Admin/tInfo')}">教师信息</a>
						</li>
						<li>
							<a href="{:U('Admin/addTeacher')}">添加教师信息</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href="#"><i class="fa fa-book"></i>课程管理</a>
						</li>
						<li>
							<a href="{:U('Admin/classManage')}">课程信息</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h2 class="sub-header"><i class="fa fa-newspaper-o" style="color: #31b0d5;"></i>&nbsp;发布公告</h2>
				<form action="{:U('Admin/sendMessage')}" method="post">
					<div class="input-group">
						<span class="input-group-addon" id="subject">公告标题:</span>
						<input type="text" class="form-control" placeholder="公告标题" aria-describedby="sizing-addon2" name="nTitle" required="required">
					</div>
					<div class="gh-edit">
						<span class="input-group-addon">内容</span>
						<script id="container" name="nContent" type="text/plain">
						</script>
						<script type="text/javascript" src="__PUBLIC__/admin/edu/ueditor.config.js"></script>
						<!-- 编辑器源码文件 -->
						<script type="text/javascript" src="__PUBLIC__/admin/edu/ueditor.all.min.js"></script>
						<!-- 实例化编辑器 -->
						<script type="text/javascript">
							var ue = UE.getEditor('container', {
								autoHeight: true,
								autoWidth: true
							});
							function sub() {
								if(!ue.hasContents()) {
									alert("活动内容不能为空！");
									return false;
								}
							}
						</script>
					</div>
					<div class="col-xs-3 col-xs-offset-5">
						<button type="button" class="btn btn-primary" style="width: 180px;" data-toggle="modal" data-target="#send-modal">发布</button>
					</div>
					<div class="modal fade" id="send-modal" tabindex="-1" role="dialog" aria-labelledby="send-modalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="send-modalLabel">发布公告</h4>
					</div>
					<div class="modal-body">
						<h4 class="modal-title text-center" id="delete-modalLabel">是否确认发布？</h4>
					</div>
					<div class="modal-footer text-center">
						<div class="row">
							<div class="col-lg-3 col-lg-offset-3">
								<button type="sumbit" class="btn btn-success btn-block">确定</button>
							</div>
							<div class="col-lg-3">
								<button type="button" class="btn btn-default btn-block" data-dismiss="modal">取消</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
				</form>
	
				</div>
			</div>
		</div>

		
		<!-- Bootstrap core JavaScript
    ================================================== -->

		<script src="__PUBLIC__/admin/js/jquery-3.2.1.min.js"></script>
		<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/admin/js/holder.min.js"></script>
		<script src="__PUBLIC__/admin/js/ie10-viewport-bug-workaround.js"></script>
		<script type="text/javascript">
	     function back(){
	         return confirm("确定退出吗？");
	    }			
		</script>
	</body>
</html>