<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="__PUBLIC__/admin/images/logo.png">

		<title>修改学生信息</title>

		<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/font-awesome.css">

		<link href="__PUBLIC__/admin/css/dashboard.css" rel="stylesheet">
		 <style type="text/css">
        	 .navbar a:hover{
                   color:#eee !important;
        	 }
        	 .errStyle{
                  display: inline-block;line-height: 34px;color: red;white-space: nowrap;
        	 }
        </style>
	</head>

	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1775ba;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="#" style="color: #fff;">
					<img src="__PUBLIC__/admin/images/logo.png" width="35" height="30" style="display: inline-block;vertical-align: top;"/>
					在线考试系统后台管理</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" style="color:#fff">你好！欢迎管理员</a>
						</li>
						<li>
							<a href="{:U('Index/login_out')}" style="color: #fff;" onclick="return back();"><i class="fa fa-sign-out"></i>退出</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar" style="padding-top: 5px;">
				    <ul class="nav nav-sidebar">
						<li class="active">
							<a href=""><i class="fa fa-newspaper-o"></i>公告管理</a>
						</li>
						<li>
							<a href="{:U('Admin/sendMessage')}">发布公告</a>
						</li>
						<li>
							<a href="{:U('Admin/index')}">查询公告</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href="#"><i class="fa fa-mortar-board"></i>学生信息管理 </a>
						</li>
						<li>
							<a href="{:U('Admin/sInfo')}">学生信息</a>
						</li>
						<li>
							<a href="{:U('Admin/addStudent')}">添加学生信息</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href=""><i class="fa fa-users"></i>教师信息管理</a>
						</li>
						<li>
							<a href="{:U('Admin/tInfo')}">教师信息</a>
						</li>
						<li>
							<a href="{:U('Admin/addTeacher')}">添加教师信息</a>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href="#"><i class="fa fa-book"></i>课程管理</a>
						</li>
						<li>
							<a href="{:U('Admin/classManage')}">课程信息</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h2 class="sub-header"><i class="fa fa-edit" style="color: #31b0d5;"></i>&nbsp;修改学生信息</h2>
					<div class="col-lg-6 addinfo">
						<form class="form-horizontal" action="{:U('Admin/updStudent')}" method="post">
							<div class="form-group">
								<label for="form-name" class="col-sm-2 control-label">姓名：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="form-name" placeholder="Name" name="sName" required="required"  value="{$list['sname']}">
								</div>
								<div class="col-sm-2">
									<span id="sName" class="errStyle"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="form-studentid" class="col-sm-2 control-label">学号：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="form-studentid" placeholder="StudentID" name="sId" required="required"  value="{$list['sid']}">
								</div>
								<div class="col-sm-2">
									<span id="sId" class="errStyle"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="form-class" class="col-sm-2 control-label">班级：</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="form-class" placeholder="Class" name="sClass" required="required" value="{$list['sclass']}">
								</div>
								<div class="col-sm-2">
									<span id="sClass" class="errStyle"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="form-email" class="col-sm-2 control-label">邮箱：</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" id="form-email" placeholder="E-mail" name="sEmail" value="{$list['semail']}">
								</div>
								<div class="col-sm-2">
									<span id="sEmail" class="errStyle"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="form-phone" class="col-sm-2 control-label">电话：</label>
								<div class="col-sm-8">
									<input type="phone" class="form-control" id="form-phone" placeholder="Phone" name="sPhone" value="{$list['sphone']}">
								</div>
								<div class="col-sm-2">
									<span id="sPhone" class="errStyle"></span>
								</div>
							</div>
							<div class="form-group">
								<label for="form-male" class="col-sm-2 control-label">性别：</label>
								<label class="radio-inline">
  									<input type="radio" name="sSex" id="form-male" value="男" {:checkSex1($list['ssex'])}> 男
								</label>
								<label class="radio-inline">
    								<input type="radio" name="sSex" id="form-female" value="女" {:checkSex2($list['ssex'])}> 女
								</label>
							</div>
							<div class="form-group">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary" style="width: 150px;margin:10px 0 0 12px;">提 交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
    ================================================== -->

		<script src="__PUBLIC__/admin/js/jquery-3.2.1.min.js"></script>
		<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/admin/js/holder.min.js"></script>
	</body>
	<script type="text/javascript">
	     var url = "{:U('Admin/updStudent')}";
	     var my = "{$list['sid']}";
          function back(){
				  return confirm("确定退出吗？");
			}
		 $(function(){
		 	 $('#form-studentid').blur(function(){
		 	 	   var sId1 = this.value;
		 	 	 if(this.value === my){
                      $('#sId').hide().text('');
		 	 	 }
		 	 	 else{
		 	 	 	if(checkId(sId1)){
		 	 	   	   $('#sId').hide().text('');
		 	 	   	   $.post(url,{sId:sId1},function(data){
                             if(data == 1){
                             	 $('#sId').show().text('该学号已存在！');
                             }
                             else{
                             	 $('#sId').hide().text('');
                             }
		 	 	   	   });

		 	 	   }
		 	 	   else{
		 	 	   	   $('#sId').show().text('请输入合法的学号！');
		 	 	   }
		 	 	 }
		 	 	   
		 	 });
		 	 $('#form-email').blur(function(){
                       if(checkEmail(this.value)){
                       	  $('#sEmail').hide().text('');
                       }
                       else{
                       	  $('#sEmail').show().text('请输入合法的邮箱！');
                       }
		 	 });
		 	  $('#form-phone').blur(function(){
                       if(checkPhone(this.value)){
                       	  $('#sPhone').hide().text('');
                       }
                       else{
                       	  $('#sPhone').show().text('请输入合法的电话号码！');
                       }
		 	 });
		 });
		 //判断合法的学号
		 function checkId(str){
             var patt = /^\d{8,12}$/;
             if(patt.test(str)){
             	return true;
             }
             return false;
		 }
		 //判断合法的邮箱
		 function checkEmail(str){
             var patt = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+$/;
             if(patt.test(str)){
             	return true;
             }
             return false;
		 }
		  function checkPhone(str){
             var patt = /^1(\d){10}$/;
             if(patt.test(str)){
             	return true;
             }
             return false;
		 }
	</script>
</html>