<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>导入试题</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/font-awesome.css"/>
	</head>
	<body>
		<div class="container-fluid">
		 <h3 class="page-header" style="margin-top: 10px;">局域网部署<small>一键部署</small></h3>
			<div class="row">
				<div class="col-md-12">
					<div class="Metronic-alerts alert fade in alert-success">
						<h3 class="alert-heading">局域网部署说明与配置</h3>
						<p style="line-height: 2;">
							  一键部署时要注意：<br>
                                    1.请确保已关闭防火墙与无线连接，确保考试环境为有线局域网。<br>
                                    2.请确保已启动xampp的apache服务器开关。<br>
                                    3.若部署成功后学生端无法显示页面，有可能是当前主机与学生主机不在同一个局域网内，请检查局域网ip。<br>
                                    4.部署成功后请重启apache服务器，操作方法是打开xampp软件，点击重启。<br>
                                    5.重启服务器后请在地址栏输入新的ip地址并跳转，否则关不掉部署状态。<br>
                                    6.若部署成功后杀毒软件提示host文件被劫持，请选择信任
						</p>
						<button class="btn btn-success" style="margin-top:10px;" onclick="return confirm('确定部署吗？');">一键部署</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>