<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>手动添加题目到题库</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/SCEditor/minified/themes/default.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/teacher/css/font-awesome.css">
	</head>
	<body>
		<div class="container-fluid">
			
				<div class="page-header" style="margin-top: 0">
					<h3 style="margin-top:10px;">题库管理<small>管理试题</small></h3>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4><i class="fa fa-gift"></i>&nbsp;新增试题</h4>
					</div>
					<div class="panel-body">
						<ul class="nav navbar nav-tabs" role="tablist">
							<li role="presentation">
								<a href="{:U('Teacher/addSingle')}">单选题</a>
							</li>
							<li role="presentation">
								<a href="{:U('Teacher/addMulti')}">多选题</a>
							</li>
							<li role="presentation">
								<a href="{:U('Teacher/addJudge')}">判断题</a>
							</li>
							<li role="presentation" class="active">
								<a href="#">填空题</a>
							</li>
							<li role="presentation">
								<a href="{:U('Teacher/addQu')}">问答题</a>
							</li>
							<li role="presentation">
								<a href="{:U('Teacher/addFile')}">文件上传题</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="completion">
								<form action="{:U('Teacher/addBlank')}" method="post" class="form">
									<div class="form-group">
										<h4>试题</h4>
										<textarea name="bTitle"></textarea>
									</div>
									<div class="form-group">
										<h5>正确答案</h5>
									</div>
									<div class="form-group">					
									     <input type="text" class="form-control" name="bTrue" />
									</div>
									<div class="form-group">
										<h6>科目</h6>
										<select name="cName" class="form-control" id="option2" style="width: 400px">
										       <volist name="list" id="vo">
											    	 <option value="{$vo['cname']}">{$vo['cname']}</option>
											    </volist>
										</select>
									</div>
									<div class="form-group">
										<h6>分数</h6>
										<input type="number" class="form-control" name="score" id=""  style="width: 300px;" value="2"/>
									</div>
									<button type="submit" class="btn btn-success" data-dismiss="modal" style="width: 150px;">保存</button>
								</form>
						  </div>
					</div>
				</div>
			</div>
			
		</div>
		<script src="__PUBLIC__/teacher/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/teacher/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/teacher/SCEditor/minified/jquery.sceditor.bbcode.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$("textarea").sceditor({
				plugins: 'bbcode',
				height: '150px',
				width: '100%',
				resizeEnabled: false,
				toolbar: 'bold,italic,underline,strike,color,left,center,right,justify,font,size,table,bulletlist,orederedlist,link,subscript,superscript,image,code,date,time,maximize',
				style: "minified/jquery.sceditor.default.min.css"
			});
		</script>
	</body>

</html>